@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Thank you that you take this website. I hope that you use this website to evaluate popular film</p>

<p><b><a href="/Home/Index">Back to Home</a></b></p>