@{
    ViewBag.Title = "Contact";
}
    <h2>Our contact data:</h2>

    <p>
        <h3>Phone numbers:</h3>
    <p>
        <ul>
            <li>+380 98 221 24 92</li>
            <li>+380 63 477 31 51</li>
        </ul>
    </p>
    <h3><abbr title="You can use it to support">E-mail:</abbr></h3> <a href="oleg.rozkvas@gmail.com">oleg.rozkvas@gmail.com</a>
    