
@{
    ViewBag.Title = "Main Page";
}

<h2>Main page</h2>

<ul >
    <li><h1><a href="/Films/Index">Film List</a></h1></li>
    <li><h1><a href="/Genres/Index">Genre List</a></h1></li>
    <li><h1><a href="/Actors/Index">Actor List</a></h1></li>
</ul>