@model Cinema.Models.Genre

@{
    ViewBag.Title = @Model.Name;
}

<h2>@Model.Name films:</h2>

<div>
    <dl class="dl-horizontal">

    </dl>
    <p><h3>Films with it genre:</h3></p>
    <div>
        <ul>
            @foreach (var film in Model.Films)
            {
                <li><a href="~/Films/Details/@film.Id">@film.Name</a></li>
            }
        </ul>
    </div>
    <div class="form-group">
        <form action="~/Genres/Edit/@Model.Id" class="col-md-2">
            <button>Change Name</button>
        </form>
        <form action="~/Genres/Delete/@Model.Id" class="col-md-10">
            <button>Delete</button>
        </form>
    </div>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
